# 1.세트
세트(set)는 중복되지 않는 항목들의 컬렉션입니다.

In [1]:
# 1. 생성방법
# 세트는 중괄호 {}를 사용하여 생성하거나 set() 생성자를 사용할 수 있습니다.
# 리스트 = ()
# 튜플 = []
# 세트 = {}

s1 = {} # 자료가 들어가있지 않은 s1이라는 변수 선언
print(s1) # s1이라는 변수에 데이터가 있는지 확인
print(type(s1)) # s1이라는 변수의 데이터타입을 확인

{}
<class 'dict'>

In [3]:
s1 = {1, 3, 5, 7} # s1에 1, 3, 5, 7을 넣음
print (s1) # s1에 데이터가 들어가있는지 확인
print(type(s1)) # s1에 데이터가 들어가니까 set으로 선언됨
# 한마디로 데이터를 넣는순간 set으로 인식, 데이터가 없으면 딕셔너리로 인식.

{1, 3, 5, 7}
<class 'set'>

In [4]:
li1 = [1, 3, 5, 7] # li1에 1, 3, 5, 7을 선언
s2 = set(li1) # li1을 set함수로 변경 후 s2에 담음
print(s2) # s2의 데이터 출력
print(type(s2)) # s2의 데이터타입 출력 "set"

{1, 3, 5, 7}
<class 'set'>

In [5]:
s3 = {1, 3, 5, 3, 7, 9, 1} # 중복되는 값 3을 넣어봄, 중복된 데이터를 제거하고 저장
print (s3) # 알아서 중복값을 제거 후 출력

{1, 3, 5, 7, 9}

In [7]:
li2 = [1, 3, 5, 3, 7, 9, 1] # list는 데이터 중복값 제거 안됨
print(li2)
s4 = set(li2) # li2를 set함수로 변경하고 s4에 데이터를 담음
print (s4) # set함수로 변경이 된후 알아서 중복값 제거됨.

[1, 3, 5, 3, 7, 9, 1]
{1, 3, 5, 7, 9}

In [9]:
# 2.메소드 : 세트는 여러 메소드를 가지고 있습니다.
# 기본 list, tuple은 인덱스 형식으로 접근후 데이터를 입력 및 출력을 하는데 set은 다르다.
# add() : 세트에 항목을 추가하는 메서드
s1 = {100, 200}
s1.add(150) # .add함수를 이용하여 150을 입력
print(s1) # 추가 후 출력
s1.add(50) # .add 함수를 이용하여 50을 입력
print(s1) #들어가는 곳은 랜덤임(패턴이 존재는 하겠지만 개발자는 그렇게 생각하면 안됨.)

{200, 100, 150}
{200, 50, 100, 150}

In [10]:
# update() : 세트에 여러 항목을 한번에 추가하는 메서드
s1 = {100, 200}
s1.update([40, 50, 60, 20]) # .update를 이용하여 40, 50, 60, 20을 묶어서 업데이트를 한다.
# 파이썬은 데이터를 한번에 입력을 넣을때는 묶어서 넣기때문이다. 고로 []는 list형식으로 묶어서 입력을 한다.
print(s1)

{100, 200, 40, 50, 20, 60}

In [13]:
# remove() :  세트의 항목을 제거. 만약 그 항목이 세트에 없으면, KeyError가 발생
s1 = {10, 20, 30}
s1.remove(20) # s1에 20을 삭제, in-place방식
print(s1)
# s1.remove(20) # 이미 위에서 20을 삭제를 하였기 때문에 에러발생 KeyError: 20
print(s1)

{10, 30}
{10, 30}

In [14]:
# discard() : 세트의 항목을 제거. 제거할 항목이 없어도 에러가 발생하지 않음
s1 = {10, 20, 30}
s1.discard(30) # s1에 30의 값을 제거
print(s1)
s1.discard(30) # remove()랑 다르게 삭제를 해도 오류가 발생이 안됨.
print(s1)

{10, 20}
{10, 20}

In [15]:
# copy() : 세트를 복사
s1 = {10, 20, 30}
s2 = s1.copy() # 주소를 복사하는것이 아닌 데이터를 복사하는것. 기존 s1 = s2 랑 다르다.
print(s1)
print(s2)
print(id(s1)) # 136044769850784
print(id(s2)) # 136044769850112
# s1과 s2의 데이터값은 같아도, 메모리주소값이 다르다는것을 확인할 수 있음.

{10, 20, 30}
{10, 20, 30}
136044769850784
136044769850112

In [17]:
# union() : 두 세트의 합집합을 반환
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
result = s1.union(s2) # result라는 변수에 s1.union(s2)를 사용하여 합집합을 사용. 두개의 데이터를 비교하여 중복값을 제거 후 합친값을 출력
# 연산자로 하는방법
result2 = s1 | s2 # | 을 사용하여 비교연산자(or)를 통해 출력가능, 앞에 데이터이거나 뒤에데이터를 포함시키는 연산자
print(result)
print(result2)

{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}

In [19]:
# intersection(): 두 세트의 교집합을 반환
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
result = s1.intersection(s2) # 교집합은 중복되는값을 출력
#연산자로 하는방법
result2 = s1 & s2 # &을 이용하여 사용할 수 있음,.
print(result)
print(result2)

{40, 50, 30}
{40, 50, 30}

In [21]:
# difference(): 두 세트의 차집합을 반환
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
result = s1.difference(s2)
# 연산자로 하는방법
result2 = s1 - s2
print(result)
print(result2)

{10, 20}
{10, 20}

In [24]:
# symmetric_difference() :
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
result = s1.symmetric_difference(s2) #교집합을 제외한 여집합만 출력
# 연산자로 하는방법
result2 = s1 ^ s2
print(result)
print(result2)

{20, 70, 10, 60}
{20, 70, 10, 60}

In [ ]:
# set은 컬렉션 타입이다.
# 중복되지 않도록 저장을 한다.
# 아이덴티티값을 가지고 있으면 유리하다.
# 순서가 없다.index아니여서 순서가 없다.
# 집합 계산을 할때 유리하게 작용된다.